/* @link https://utopia.fyi/type/calculator?c=320,12,1.2,1140,21,1.25,4,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
    --step--3: clamp(0.43rem, 0.38rem + 0.28vw, 0.58rem);
    --step--2: clamp(0.52rem, 0.44rem + 0.39vw, 0.72rem);
    --step--1: clamp(0.63rem, 0.52rem + 0.54vw, 0.9rem);
    --step-0: clamp(0.75rem, 0.6rem + 0.73vw, 1.13rem);
    --step-1: clamp(0.9rem, 0.7rem + 0.99vw, 1.41rem);
    --step-2: clamp(1.08rem, 0.82rem + 1.32vw, 1.76rem);
    --step-3: clamp(1.3rem, 0.94rem + 1.76vw, 2.2rem);
    --step-4: clamp(1.56rem, 1.09rem + 2.33vw, 2.75rem);

    --color-dark-0: rgb(0, 0, 0);
    --color-dark-1: rgb(33, 33, 33);
    --color-dark-2: rgb(66, 66, 66);

    --color-light-0: rgb(255, 255, 255);
    --color-light-1: rgb(233, 233, 233);
    --color-light-2: rgb(190, 190, 190);
    --color-light-3: rgb(163, 163, 163);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--color-dark-1);
    font-size: var(--step-0);
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#out-vid-container {
    display: none;
}

.sample-color-preview {
    display: inline-block;
    width: 8rem;
    height: 8rem;
}

.name-color-preview {
    position: absolute;
    float: right;
    width: var(--step-0);
    height: var(--step-0);
}

.text-data {
    display: inline-block;
    background-color: var(--color-dark-1);
    color: var(--color-light-1);
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.text-label {
    display: inline-block;
    color: var(--color-light-1);
    text-align: left;
    padding: 0.5rem 0.5rem;
}

select {
    background-color: var(--color-dark-1);
    color: var(--color-light-1);
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.container {
    width: min(100%, 800px);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin: auto;
}

/*
@media screen and (min-width: 1000px) {
    .container {
        width: min(100%, 1000px);
        height: 100%;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr 1fr;
        margin: auto;
    }

    #controls {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #canvas {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        height: 100%;
    }
}
*/

#canvas {
    width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    flex-grow: 1;
    object-fit: cover;
}

#info {
    background-color: var(--color-dark-2);
    color: var(--color-light-1);
    padding: 1rem;
    display: grid;
    grid-template-columns: 8rem 1fr 1fr;
    grid-template-rows: 150px;
    height: 150px;
    gap: 1rem;
    align-items: center;
}

#info .name-color-preview {
    float: left;
}

#info .text-data,
.text-label {
    margin: 0.2rem 5%;
    width: max-content;
}

#controls {
    width: 100%;
    background-color: var(--color-dark-2);
    margin-top: min(5%, 1rem);
    color: var(--color-light-1);
}

#controls > div {
    padding: 1rem;
}

#controls div select {
    margin-right: 1rem;
}

#controls #sample-size {
    display: grid;
    width: 100%;
    grid-template-columns: 8rem 8rem 1fr;
    align-items: center;
    margin-bottom: 1rem;
}

@media screen and (max-width: 450px) {
    #info .sample-color-preview {
        width: 6rem;
        height: 6rem;
    }

    #info {
        grid-template-columns: 6rem 1fr 1fr;
        gap: 0.33rem;
        padding: 0.33rem 0.66rem;
    }

    #info .text-data,
    .text-label {
        margin: 0.2rem 5%;
        width: fit-content;
    }

    #controls #sample-size {
        grid-template-columns: 4rem 6rem 1fr;
    }

    #controls .text-data {
        padding: 0.5rem 1rem;
    }

    #info .text-data {
        padding: 0.5rem 1rem;
    }

    #controls > div {
        padding: 0.33rem 0.66rem;
    }
}

#controls #sample-size .slider {
    margin: 0.5rem;
}

#controls #sample-size span {
    margin: 0.5rem 0;
}

#device-options {
    display: grid;
    grid-template-columns: 4rem 1fr 5rem 1fr;
    width: 100%;
    gap: 0.25rem 1rem;
    align-items: center;
}

#device-options select {
    padding: 0.5rem 1rem;
    width: 100%;
}

#pause-sampling {
    width: 100%;
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: var(--step-4);
    border-radius: 1rem;
    border: none;
    background-color: var(--color-dark-1);
    color: var(--color-light-1);
    cursor: pointer;
}

#pause-sampling:active {
    color: var(--color-light-0);
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 1rem; /* Specified height */
    background: var(--color-light-3); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    border-radius: 1rem;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1rem; /* Set a specific slider handle width */
    height: 1rem; /* Slider handle height */
    background: var(--color-dark-2); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100%;
}

.slider::-moz-range-thumb {
    width: 1rem; /* Set a specific slider handle width */
    height: 1rem; /* Slider handle height */
    background: var(--color-dark-2); /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 100%;
}
